.body{
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 900px;
    height: 400px;
    margin: 0 auto;
    padding: 150px;
    background-color: #f2f2f2;
}

.item {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.item1 {
    background-color: #004d99;
    grid-column-start: 1;
    grid-column-end: 5;
}

.item2 {
    background-color: #4da6ff;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.item3 {
    background-color: #ccc;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.item4 {
    background-color: #4da6ff;
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.item5 {
    background-color: #004d99;
    grid-column-start: 1;
    grid-column-end: 5;
}